h1 {
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;

}

h2 {
    font-size: 25px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 15px; 
}

p {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    position: relative;
    line-height: 1.5;
}

li {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 17px; 
}
