/* LOG IN STYLES */

#hlogin {
    text-align: center;
    position: relative;
    top: 100px;
}

#leadtoreg {
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    line-height: 1.5;
    position: relative;
    top: 0px;
}

a {
    text-decoration: underline;
}

.centered-form {
    text-align: center;
    position: relative;
    top: 200px;
}

input {
    margin: 5px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(65, 65, 68);
    width: 250px;
    padding: 10px 10px 10px 10px;
}

#submit {
    margin: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: black;
    color: white;
    width: 274px;
    padding: 10px 10px 10px 10px;
}

#submit:hover {
    cursor: pointer;
}


/* REGISTRATION STYLES */

