.addPickButton, .removePickButton {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: white;
    float: center;
    padding: 14px 30px;
    transition: 0.4s;
}

.addPickButton:hover, .removePickButton:hover {
    background-color: black;
    color: white;
}

#hpicks {
    position: absolute;
    top: 100px;
    left: 90px;
}

table {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    position: absolute;
    top: 180px;
    left: 90px;
    line-height: 1.5;
}