.searchbar {
    width: 200px; /* Full-width */
    height: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px; /* Increase font-size */
    padding: 0px 0px 0px 10px; /* Add some padding */
    border: 2px solid rgb(80, 77, 77); /* Add a grey border */
    margin-bottom: 10px; /* Add some space below the input */
}

/* Marie: what is this? EHLER: This greys out the first filter option, shows the other filter options in black*/
select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }

#chooseArtType, #chooseArtStyle, #chooseVenueType {
    width: 200px; /* Full-width */
    height: 43px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px; /* Increase font-size */
    background-color: white;
    border: 2px solid rgb(80, 77, 77); /* Add a grey border */
    border-radius: 0%; 
}

#chooseArtType:hover, #chooseArtStyle:hover, #chooseVenueType:hover {
  cursor: pointer;
}

.artType, .artStyle, .venueType {
  color: rgb(155, 154, 154);
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px 10px 0px 0px;
}

