.searchbar {
    width: 200px; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 2px solid darkgray; /* Add a grey border */
    margin-bottom: 10px; /* Add some space below the input */
}

select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }